.container{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 25px;
}
.listLinks{
    display: flex;
    gap: 40px;
}
.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    color: #65CB4C;
}