
.container{
    width: 50px;
    height: 50px;
    
    border: 1px solid #fff;
    color: #fff;
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;
}
.container:hover {
    border-color: #2AE98D;
    color: #2AE98D;
}
  
  